__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/
.pytest_cache/
.eggs/
*.egg
.coverage
htmlcov/
*.bam
*.bam.bai
*.bam.csi
*.cram
*.fastq
*.fastq.gz
*.fq
*.fq.gz
output/
benchmark_output/
.snakemake/
*.sif
.env
*.log
